.bigHeader{
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: left;
    text-shadow: 0 1px 0 rgba(0,0,0,.1);
    background-color: #bada55;
}

.bigHeader h1{
    font-size: 60px;
    color: white;
}

#playArea{
    padding-top: 30px;
}

#buyFactory{
  display: none;   
}

#purchaseArea{
    padding-top:10px;
}